{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def safe_pawns(pawns: set) -> int:

    return 0

{% endblock start %}

{% block example %}
print('Example:')
print(safe_pawns({"b4", "d4", "f4", "c3", "e3", "g5", "d2"}))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}safe_pawns({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
